a{
    color:blue;
    background-color: white;
    text-decoration: none;
    display: block;
}
a.a:active{
    color:red;
    background-color: aquamarine;
    
}
a.b:active{
    font-size: 25px;
}
a.c:active{
    color:blue;
    background-color: blueviolet;

}
a.d:active{
    font-family:fantasy;
}
a.e:active{
    text-decoration: underline;
    
}

a:hover{
    color:blue;
    background-color: burlywood;
   
}

/* text-decoration:none linklerin altındaki çizgiyi yok eder */